
<div
  [ngClass]="{ 'com-sidebar': isSidebarOpen, 'sem-sidebar': !isSidebarOpen }"
  class="container"
>
  <h2>Cadastro de Produtos</h2>

  <!-- WRAPPER FLEX -->
  <div style="display: flex; flex-wrap: wrap; gap: 2rem; align-items: flex-start;">

    <!-- FORMULÁRIO -->
    <form [formGroup]="produtoForm" (ngSubmit)="cadastrarProduto()" style="flex: 1; min-width: 300px;">
      <input
        type="text"
        formControlName="name"
        placeholder="Nome do Produto" />

      <input
        type="text"
        formControlName="price"
        placeholder="Preço"
        mask="separator.2"
        thousandSeparator="."
        decimalMarker=","
        prefix="R$ "
        [dropSpecialCharacters]="false" />

      <input
        type="number"
        formControlName="amount"
        placeholder="Quantidade" />

      <textarea
        formControlName="describe"
        placeholder="Descrição (opcional)">
      </textarea>

      <select formControlName="subcategoryId">
        <option value="">Selecione uma Subcategoria</option>
        <option *ngFor="let sub of subcategorias" [value]="sub.subCategoryId">
          {{ sub.name }}
        </option>
      </select>

      <div *ngIf="produtoForm.get('subcategoryId')?.invalid && produtoForm.get('subcategoryId')?.touched">
        <!-- Mensagem de erro aqui se quiser -->
      </div>

      <button type="submit">Cadastrar Produto</button>
    </form>

  
  </div>
</div>
