<div [ngClass]="{ 'com-sidebar': isSidebarOpen, 'sem-sidebar': !isSidebarOpen }" class="container">
  <h2>Cadastro de Categorias</h2>

  <!-- Cadastro de Categoria -->
  <form (ngSubmit)="cadastrarCategoria()">
    <input
      type="text"
      placeholder="Nome da Categoria"
      [(ngModel)]="novaCategoria.name"
      name="categoriaName"
      required
    />
    <button class = "cadastrarcategoria" type="submit">Cadastrar Categoria</button>
  </form>

  <hr />

  <!-- Cadastro de Subcategoria -->
  <form (ngSubmit)="cadastrarSubcategoria()">
    <input
      type="text"
      placeholder="Nome da Subcategoria"
      [(ngModel)]="novaSubcategoria.name"
      name="subcategoriaName"
      required
    />

    <select [(ngModel)]="novaSubcategoria.categoryId" name="categoriaSelect" required>
      <option value="" disabled selected>Selecione uma Categoria</option>
      <option *ngFor="let cat of categorias" [value]="cat.id_category">{{ cat.name }}</option>
    </select>

    <button class = "cadastrarcategoria" type="submit">Cadastrar Subcategoria</button>
  </form>

  <hr />

  <!-- Listagem de Categorias -->
  <button class= "listar" (click)="listarSubCategorias()">Listar Categorias</button>
  <button class = "fechar" (click)="fecharLista()">X</button>
 <table *ngIf="mostrarTabela" border="1">
  <thead>
   <tr>
    <th>Nome SubCategoria</th>
    <th>Nome Categoria</th>
   </tr>
  </thead>
    <tr *ngFor="let sub of subcategorias">
     <td>{{ sub.name }}</td>
     <td>{{ sub.categoryId }}</td>
    </tr>
</table>


</div>
