// Variáveis globais
@import "../../../styles/variables.scss";


// Estilo da sidebar
.sidenav {
  background-color: $primary-color;
  width: 250px;
  transition: width 0.3s ease;
  height: 100%;
  color: #ecf0f1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow-x: hidden;

  &.sidenav-collapsed {
    width: 80px;

    .logo-text,
    .sidenav-link-text,
    .submenu {
      display: none;
    }

    .link-icon {
      transform: rotate(0deg) !important;
    }
  }

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid $gray-second-bg;

    .logo {
      background: url('/assets/icons/menu.png') no-repeat center center;
      background-size: contain;
      width: 40px;
      height: 40px;
      border: none;
    }

    .logo-text {
      font-weight: bold;
      margin-left: 0.5rem;
      flex: 1;
    }

    .btn-close {
      background: none;
      border: none;
      color: #ecf0f1;
      font-size: 1.2rem;

      .close-icon {
        pointer-events: none;
      }
    }
  }

  .sidenav-nav {
    list-style: none;
    margin: 0;
    padding: 0;

    .sidenav-nav-item {
      margin-bottom: 1rem;

      .sidenav-nav-link {
        display: flex;
        align-items: center;
        padding: 0.75rem 1rem;
        color: inherit;
        text-decoration: none;
        transition: background 0.2s;

        &:hover,
        &.active {
          border-radius: 20px;
          color: $text-color;
          background-color: $gray-second-bg;
        }

        .link-icon-img {
          width: 33px;
          height: 30px;
          margin-right: 1rem;
        }

        .link-icon {
          margin-left: auto;
          transition: transform 0.3s ease;

          &.rotated {
            transform: rotate(90deg);
          }
        }

        .sidenav-link-text {
          flex: 1;
        }
      }

      .submenu-item {
        padding-left: 2rem;
        list-style-type: none;

        .sidenav-nav-link {
          padding: 0.5rem 1rem;
          font-size: 14px;

          &:hover,
          &.active {
            border-radius: 12px;
            color: $text-color;
            background-color: $gray-second-bg;
          }

          .sidenav-link-text {
            font-size: 0.9rem;
            margin-left: 15px;
          }
        }
      }
    }
  }

  // Responsivo
  @media (max-width: 768px) {
    position: absolute;
    z-index: 1001;
    height: 100vh;
  }
}

// Scroll
.scroll {
  height: 100vh;
  overflow-y: auto;
  background: linear-gradient(135deg, $color-primary, $color-secondary);
}
