@import "../../../styles/variables.scss";

.sidenav {
  background-color: #1f2d3d;
  width: 16rem;
  height: 100vh;
  position: fixed;
  transition: width 0.3s ease;
  padding: 1rem 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 5px rgba(0,0,0,0.2);

  &.sidenav-collapsed {
    .sidenav-nav-link{
      justify-content: center;
    }
    .link-icon-img{
      margin: 0 auto;
      display: block;
    }
    width: 5rem;

    .logo-text,
    .sidenav-link-text,
    .btn-close {
      display: none;
    }
  }

  .logo-container {
    display: flex;
    align-items: center;
    padding: 0 1rem;

    .logo {
      background: #000;
      color: #fff;
      width: 3rem;
      height: 3rem;
      border-radius: 0.5rem;
      font-size: 1.5rem;
      font-weight: bold;
      border: none;
      cursor: pointer;
    }

    .logo-text {
      margin-left: 1rem;
      font-size: 1.2rem;
      font-weight: 600;
    }

    .btn-close {
      margin-left: auto;
      background: none;
      border: none;
      color: #fff;
      cursor: pointer;

      .close-icon {
        font-size: 1.2rem;
      }
    }
  }

  .sidenav-nav {
    list-style: none;
    margin-top: 2rem;
    padding: 0;

    .sidenav-nav-item {
      padding: 0.5rem 1rem;


      .sidenav-nav-link {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        border-radius: 0.5rem;
        text-decoration: none;
        color: inherit;
        transition: background 0.3s ease;

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }

        &.active {
          background-color: #fff;
          color: #1f2d3d;

          .link-icon {
            color: #1f2d3d;
          }
        }

        .link-icon {
          font-size: 1.2rem;
          min-width: 1.5rem;
        }

        .sidenav-link-text {
          font-size: 1rem;
          font-weight: 500;
        }
      }
    }

    .submenu-item {
      padding-left: 4rem;
      list-style-type: none;

      .sidenav-nav-link {
        display: flex;
        align-items: center;
        font-size: 0.10rem;
        padding: 0.4rem 0.8rem;
        width: 100%;
        color: #ccc;


        .link-icon {

          font-size: 0.9rem;
          color: #aaa;

        }

        .sidenav-link-text {
          font-size: 12px;
          font-weight: 400;
          color: #ccc;
        }

        &.active {

          background-color: rgba(255, 255, 255, 0.1);
          color: #fff;
        }
      }
    }

    .link-icon-img {
      width: 45px;
      height: 45px;
      object-fit: contain;
      display: block;
    }
  }
}
