@import "../../../styles/variables.scss";

// Estilo global para o body e main
main {
  display: flex;
  flex-direction: column; // Alterado para coluna para melhor organização
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, $color-primary, $color-secondary);
}

// Seção principal
section {
  width: 100%;
  max-width: 400px; // Largura máxima para o formulário
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

  h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
}

// Formulário
.form-section {
  width: 100%; // Ocupa todo o espaço disponível
  padding: 0 35px;

  .btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 30px;

    // Divisor "OR"
    .divider {
      display: flex;
      align-items: center;
      justify-content: center; // Corrigido aqui
      gap: 20px;
      width: 100%;

      font-size: 14px;
      color: $gray-bg;
      font-weight: 400;
      text-transform: uppercase;

      div {
        flex-grow: 1;
        height: 2px;
        background-color: $gray-bg;
      }
    }

    // Botões
    button {
      width: 100%;
      border-radius: 8px;
      font-size: 16px;
      font-weight: 500;
      border: none;
      background: transparent;
      padding: 12px 24px;
      cursor: pointer;
      transition: all 0.3s ease; // Adicionado transição suave

      &.disabled {
        opacity: 0.8;
        pointer-events: none; // Desativa interação com botões desabilitados
      }

      &.btn-primary {
        background-color: $primary-color;
        color: white;
        box-shadow: 0px 8px 12px rgba(31, 12, 0, 0.2);

        &:hover {
          background-color: darken($primary-color, 10%); // Escurece ao passar o mouse
        }
      }


      }
    }
  }
 
