<div class="scroll-container">
  <input
    type="text"
    [(ngModel)]="termoBuscar"
    (input)="onInputChange($event)"
    placeholder="Buscar produto por nome ou descrição..."
    class="input-busca"
  />

  <table *ngIf="produtos.length > 0" border="1">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Preço</th>
        <th>Quantidade</th>
        <th>Descrição</th>
        <th>Subcategoria</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pro of produtos">
        <td>{{ pro.name }}</td>
        <td class="currency">{{ pro.price | currency:'BRL' }}</td>
        <td>{{ pro.amount }}</td>
        <td>{{ pro.describe }}</td>
        <td>{{ pro.subcategoryId }}</td>
      </tr>
    </tbody>
  </table>

  <p *ngIf="produtos.length === 0 && termoBuscar.trim() !== ''">
    Nenhum produto encontrado.
  </p>
</div>
